/* custom css file made by jeandoe */

/* import section starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* initialisation */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

/* root varibales */

:root{
    --main-clr: #513dad;
    --white: #fff;
    --black: #1c2726;
    --light-clr: #c3ceda;
    --body-font: 'Poppins', Arial, sans-serif;
    --border0: 1px solid rgba(0, 0, 0, 0.05);
    --border1: 1px solid rgba(0, 0, 0, 0.08);
}

/* base of code */

html{
    font-size: 90%;
    overflow-x: hidden;
}

body{
    font-family: var(--body-font);
    padding: 1rem;
}

/* reusable classes */

.heading{
    color: var(--black);
    font-size: .938rem;
    font-weight: 500;
}
.container{
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    margin: 1rem auto;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn{
    padding: 0.3rem 0.5rem;
    background: var(--white);
    font-family: var(--body-font);
    border: var(--border0);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    &:hover{
        background: #fafcfc;
    }
}

/* accordion section starts */

.accordion{
    /* border: 1px solid rgba(0, 0, 0, .15); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    max-width: 40rem;
    h3{
        padding: 0.3rem .4rem;
        cursor: pointer;
        &:hover{
            background: #fafcfc;
        }
        i{
            font-size: 1.2rem;
            vertical-align: middle;
            color: var(--main-clr);
            float: right;
        }
    }
    p{
        background: #eef3f3;
        padding: 0.5rem 1rem;
        border-radius: .25rem;
    }
}

/* random color starts */

.random_color{
    border: var(--border1);
    .viewer{
        border: var(--border1);
        height: 100%;
        min-height: 20rem;
        display: grid;
        place-content: center;
        align-items: center;
        .color{
            color: var(--white);
            background: rgba(0, 0, 0, 0.1);
            padding: 0.8rem;
            border: var(--border1);
            border-radius: .25rem;
        }
    }
}